@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.instructor-card {
  border: .0625rem solid #ccc;
  border-radius: .5rem;
  margin: .625rem;
  padding: 1.25rem;
  width: 12.5rem;
  height: auto;
  background-color: rgba($periglacial-blue, 0.5);
  color: $primary-font;
  font-weight: bold;
  font-size: $normal-l-body-font;
  line-height: $normal-l-body-line-height;
  display: inline-block;

  .instructor-image {
    width: 100%;
    height: auto;
    border-radius: .5rem .5rem 0 0;
    object-fit: cover;
  }

  h2,
  p {
    color: $primary-font-calendar;
  }
}
