@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.time-slots-container {
  margin-right: 2rem;

  .time-slots-title {
    margin-top: 1.5rem;
  }

  .time-slots-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 10rem;
      color: $blue-dianne;
      background-color: rgba($porcelain, 0.5);
      border: none;
      border-radius: $border-radius;
      padding: 0.625rem;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-bottom: 2rem;

      &:hover,
      &.selected {
        background-color: darken($porcelain, 50%);
      }
    }
  }
}
