@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.booking-page {
  display: flex;
  flex-direction: column; // Ensure content flows vertically
  min-height: 100vh; // Full viewport height
  background-image: url("../../assets/Images/BackgroundSunset2.jpg");
  background-size: cover;
  background-position: center;

  .booking-content {
    flex: 1; // Allows content to expand, pushing Footer to the bottom
    display: flex;
    padding: 1.25rem;
    gap: 1.25rem;
  }

  .left-column,
  .right-column {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .left-column {
    width: 50%;

    .calendar-and-slots {
      display: flex;
      flex-direction: row;
      gap: 1.25rem;
    }

    .left-bottom {
      flex: 1;
    }
  }

  .right-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    width: 50%;
  }
}
