@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.instructor-card-full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  margin: 0.625rem;
  padding: 1.25rem;
  width: 18rem;
  height: auto;
  background-color: rgba($periglacial-blue, 0.5);
  color: $primary-font;
  font-weight: bold;
  font-size: $normal-l-body-font;
  line-height: $normal-l-body-line-height;

  .instructor-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0 0;
    object-fit: cover;
  }

  .instructor-info {
    text-align: center; 

    h2 {
      color: $primary-font-calendar;
      margin: 0.5rem 0;
      text-align: center;
    }

    p {
      color: $primary-font-calendar;
      margin: 0.5rem 0;
    }
  }

  .instructor-book-button {
    margin-top: 1rem;
    padding: 0 0.5rem;
    align-self: stretch;

    button {
      width: 100%;
    }
  }
}
