$tarawera: #072c4e;
$tall-poppy: #b8332c;
$porcelain: #e8eeee;
$bright-turquoise: #0dc3cf;
$fuel-yellow: #f2a339;
$downy: #72ceca;
$deep-cerulean: #067cb3;
$chalky: #f0de96;
$eunry: #cb9c9e;
$blue-dianne: #194043;
$periglacial-blue: #dce6d3;
$breaker-bay: #65aaab;
$shingle-fawn: #6d4a32;
$java: #16b3b8;
$raw-sienna: #ce9247;
$tan: #d3ae84;
$sinbad: #98ccc7;
$pewter: #94a19f;
//actually used:
$buttons: #16b3b8;
$buttons-title: #e7ecdb;
$background: #071c21;
$calendar-background: #fbfada;
$primary-font-calendar: #12372a;
$secondary-calendar: #880b0b;
$light-gray: #f8f9fa;
$dark-gray: #343a40;
$black: black;

$border-radius: 5px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
