@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin: auto;
  .custom-button {
    width: 100%;
  }
  .react-calendar {
    width: 100%;
    max-width: 350px;
    background-color: $calendar-background;
    border: 1px solid $black;
    border-radius: $border-radius;

    .react-calendar__navigation {
      button {
        color: $primary-font-calendar;
      }

      .react-calendar__month-view__days__day--weekend {
        color: $secondary-calendar;
      }
    }

    .custom-calendar-container {
      padding: 1rem;
      display: flex;
      justify-content: center;
    }
  }
}
