@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.main-page {
  .hero-section {
    background-image: url("../../assets/Images/BackgroundNight.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    text-align: center;
    background-size: cover;
    background-position: center;

    h1 {
      font-size: 5rem;
      line-height: $normal-header-line-height;
      font-weight: bold;
      margin-bottom: 4rem;
      margin-top: 19.5rem;
      color: $main-title;
    }

    .buttons-container {
      display: flex;
      gap: 4rem;

      .login-btn,
      .signup-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
      }

      .login-btn {
        background-color: $white;
        color: black;
      }

      .signup-btn {
        background-color: $orange-button;
        color: $white;
      }
    }
  }
}
