@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
.app-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $white;
  text-align: right;
  padding: 0;
  z-index: 10;

  p {
    margin-right: 2rem;
  }
}
